<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.1.xsd ">
	
<!-- <http> -->
<!-- 	<intercept-url pattern="/website/admin/*" access="ROLE_USER" /> -->
<!-- 	<http-basic/> -->
<!-- </http>	 -->
<!-- <http>	 -->
<!-- 	<intercept-url pattern="/website/admin/*" access="ROLE_USER" /> -->
<!-- 	<form-login />  -->
<!-- 	<logout logout-success-url="/website/index.html"/> -->
<!-- </http> -->
<http>
	<intercept-url pattern="/website/admin/*" access="ROLE_ADMIN"/>
	<form-login login-page="/website/login.html" default-target-url="/website/admin/1.html" authentication-failure-url="/website/loginfailed.html" />
	<logout logout-success-url="/website/index.html"/>
</http>
<authentication-manager>
	<authentication-provider>
		<user-service properties="/WEB-INF/security-account/userinfo.properties">
<!-- 			<user name="admin" password="admin" disabled="false"  authorities="ROLE_ADMIN"></user> -->
<!-- 			<user name="user" password="user" authorities="ROLE_USER" /> -->
		</user-service>
		<jdbc-user-service data-source-ref=""/>
	</authentication-provider>
</authentication-manager>
</beans:beans>
